.users-container {
  height: 25rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}
.game-container {
  height: 30rem;
  width: 30rem;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user {
  color: red;
  margin-top: 2rem;
}

.progress-cont {
  border: 1px solid var(--main-button-border-color);
  width: 11rem;
  margin-top: .5rem;
  text-align: center;
  font-size: .7rem;
}
.progress {
  width: 0;
  height: 15px;
  background-color: limegreen;
  z-index: -1;
}

#username-input {
  font-size: 16px;
}

#seconds-before-start {
  font-size: 3rem;
}

#time-left {
  height: 9rem;
  font-size: 1rem;
  align-self: flex-end;
  justify-self:first baseline;
  margin-right: 1rem;
  margin-top: 1rem;
}

#text {
  height: 20rem;
  width: auto;
  text-align: justify;
  font-size: 1.5rem;
}
#text > span:first-child {
  background-color: lightseagreen;
}
#text > span:nth-child(2) {
  text-decoration: red underline .4rem;
}

#ready-button,
#disconnect-button {
  width: 10rem;
  height: 3rem;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}
#ready-button {
  height: 5rem;
  
}

#ready-button:hover,
#disconnect-button:hover {
  outline: 1px solid lightblue;
}